.hero {
  padding-top: 170px;
}
.oKompaniya {
  width: 100%;
  height: 700px;
  background-color: #fff;
}
.oKompaniya .title {
  padding-top: 68px;
  padding-bottom: 52px;
}
.oKompaniya .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.oKompaniya-left {
  width: 514px;
  height: 514px;
  background: url(../images/oKompaniya.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -40px;
  z-index: 1;
}
.oKompaniya-right {
  position: absolute;
  right: 0;
  top: 50%;
  width: 65%;
  border-radius: 0px 50px 50px 0px;
  background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
  padding: 57px 0 7px 40px;
}
.oKompaniya-right p {
  color: #363535;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 173.187%; /* 34.637px */
  letter-spacing: 1.2px;
  margin-bottom: 50px;
  max-width: 702px;
  transform: translateX(75px);
}
.oKompaniya-right a {
  border-radius: 35px;
  opacity: 0.9;
  background: linear-gradient(90deg, #0d4c93 0%, #00c9c9 100%);
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-decoration: none;
  padding: 13.5px 59px;
  margin-left: 10%;
}
.oKompaniya-right a:hover {
  text-decoration: underline;
}
.title:nth-child(2) {
  padding-bottom: 68px;
}


