@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  object-fit: cover;
}
.container {
  max-width: calc(1360px - 70px);
  padding: 0 35px;
  margin: 0 auto;
}
@media screen and (max-width: 425px) {
  .container {
    max-width: calc(1260px - 40px);
    padding: 0 20px;
  }
}
/* body {
} */
.back-img {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(images/blur-header.svg);
  background-size: cover;
  z-index: -1;
}
.cart {
  margin: 0 auto;
}

@media screen and (max-width: 1380px) {
  .oKompaniya-left {
    display: none;
  }
  .oKompaniya-right {
    left: 50%;
    transform: translateX(-50%);
  }
  .oKompaniya-right p {
    transform: translate(0);
  }
  .oKompaniya-right a {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1150px) {
  .carousel-right img,
  .menu a div {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .header-left {
    max-width: 250px !important;
  }
  .header .location p,
  .header .phone p,
  .header .facebook p {
    display: none;
  }
  .header .location,
  .header .phone {
    width: 50px;
  }
  .partner-items:first-child {
    display: none;
  }
}
.menu-burger {
  transition: all 0.3s;
  width: 50px;
  height: 50px;
  display: none;
  border-radius: 25px;
  background: #fff;
  position: relative;
  z-index: 999;
}
.menu-burger:active {
  background: #0d4c93;
  transform: rotate(360deg);
}
.menu-burger:active path {
  fill: #fff;
}

@media screen and (max-width: 920px) {
  .menu {
    display: none !important;
  }
  .headerFixed {
    transform: translateY(-4px);
    max-height: 75px;
  }
  .menu-burger {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero .hero {
    margin-top: -230px;
  }
}
@media screen and (max-width:850px) {
  
}